.pulsing-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  /* NEW */
  height: 100%;
  max-height: 100%;
}

.pulsing-dots span {
  border-radius: 50%;
  animation: pulse 1.4s infinite ease-in-out both;
}

.pulsing-dots span:nth-child(1) {
  animation-delay: -0.32s;
}

.pulsing-dots span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.4;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
