.spinner {
  border: 4px solid #e5e5e5;
  border-top: 4px solid #111;
  border-radius: 50%;
  animation: spin linear infinite;
}

.spinner.small {
  width: 24px;
  height: 24px;
  animation-duration: 0.6s;
}

.spinner.medium {
  width: 40px;
  height: 40px;
  animation-duration: 0.8s;
}

.spinner.large {
  width: 64px;
  height: 64px;
  animation-duration: 1s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
