
.dots-loader {
  display: flex;
  gap: calc(var(--dot-size) / 2);
}


.dots-loader span {
  width: var(--dot-size);
  height: var(--dot-size);
  background: var(--dot-color);
  border-radius: 50%;
  animation: bounce var(--dot-speed) infinite ease-in-out;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.15s;
}

.dots-loader span:nth-child(3) {
  animation-delay: 0.3s;
}

.dots-loader-wrapper {
  height: calc(var(--dot-size) + var(--bounce-height));
  display: flex;
  align-items: flex-end;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  40% {
    transform: translateY(calc(-1 * var(--bounce-height)));
    opacity: 1;
  }
}
